<div class="container">
  <h1>Tere tulemast, {{ user?.firstName }}! </h1>

  <div class="profile-container">
    <img src="/usericon.svg" alt="icon" class="icon">
    <div class="profile-info">
      <h2>Nimi: {{ user?.firstName }} {{ user?.lastName }}</h2>
      <h2>Email/kasutajanimi: {{ user?.email }}</h2>
    </div>
  </div>

  <h1>Minu andmed</h1>

  <div class="form-grid">
    <div class="form-group">
      <label class="required">Email</label>
      <input type="email" placeholder="{{ user?.email }}" class="input-valid">
    </div>

    <div class="form-group">
      <label>Mobiiltelefoni number</label>
      <input type="text" placeholder="">
      <div class="helper-text">Palun sisesta telefoninumber koos riigikoodiga</div>
    </div>
  </div>

  <div class="toggle-container">
    <label class="toggle">
      <input type="checkbox" [checked]="showPasswordFields" (change)="togglePasswordFields()">
      <span class="slider"></span>
    </label>
    <span>Soovin luua sisselogimiseks salasõna või muuta olemasolevat</span>
  </div>

  @if (showPasswordFields) {
    <div class="form-grid">
      <div class="form-group">
        <label class="required">Salasõna</label>
        <input type="text" placeholder="">
      </div>

      <div class="form-group">
        <label class="required">Korda salasõna</label>
        <input type="text" placeholder="">
      </div>
    </div>
  }
  <div class="toggle-container">
    <label class="toggle">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
    <span>Loobu teenusest</span>
  </div>

  <h1>Minu broneeringud</h1>
  @for (booking of currentBookings; track booking.bookingId; let i = $index) {
    <p>{{ i + 1 }}. {{ booking.roomName }}, {{booking.roomFloor}}. korrus, {{ booking.startTime | date:'MMM d, y HH:mm' }} - {{ booking.endTime | date:'HH:mm'}},
    PIN: {{booking.pin}}, makstud: {{booking.price}}€, viitenumber: {{booking.transactionRef}}    <button class="delete-button">Tühista</button>
    </p>
  }
  <div class="toggle-container">
    <label class="toggle">
      <input type="checkbox" [checked]="showExpiredBookings" (change)="toggleExpiredBookings()">
      <span class="slider"></span>
    </label>
    <span>Näita varasemaid broneeringuid</span>
  </div>

  @if (showExpiredBookings) {
    <div>
      @for (booking of expiredBookings; track booking.bookingId) {
        <p>{{ booking.roomName }}, {{booking.roomFloor}}. korrus, {{ booking.startTime | date:'MMM d, y HH:mm' }} - {{ booking.endTime | date:'HH:mm'}},
          makstud: {{booking.price}}€, viitenumber: {{booking.transactionRef}}</p>      }
    </div>
  }

  <div class="buttons">
    <button class="btn btn-secondary"><a href="/">Tagasi pealehele</a></button>
    <button class="btn btn-primary">Salvesta</button>
  </div>
</div>
