<div class="all-rooms-header">
  <h2>Vaata kõiki ruume</h2>
</div>

<div class="rooms-container">
  <div class="floor-buttons">
    @for(floor of [1,2,3,4,5,6,7,8]; track floor){
    <button (click)="setFloor(floor)"
            [class.active]="selectedFloor === floor" >
      {{ floor }}. korrus <i class="arrow down"></i>
    </button>
    }
  </div>

  <div class="room-grid" >

  @for (room of filteredRooms; track room.id) {
    @if(room.floor===selectedFloor){
      <div class="room-card">
        <img src="/conference_example.png" alt="Sündmused">
        <a [routerLink]="['/room', room.id]" routerLinkActive="active" [ariaCurrentWhenActive]="'page'">
          {{ room.roomName }}
        </a>
        <p><strong>Ruumi number:</strong> {{ room.roomNumber }}</p>
      <p><strong>Mahutavus:</strong> {{ room.capacity }} inimest</p>
      <p><strong>Korrus:</strong> {{ room.floor }}</p>
      <p><strong>Vahendid:</strong> {{ room.equipment }}</p>
      <p><strong>Hind:</strong> {{ room.price }} €</p>
      <p><strong>Märksõnad:</strong> {{ room.keywords }}
        <a [routerLink]="['/room', room.id]" routerLinkActive="active" [ariaCurrentWhenActive]="'page'">
      <button class="book-button">Vaata lähemalt</button>
        </a>
    </div>
  }
    }
</div>
</div>
