<div class="login-form-container">
  <form class="login-form" action="login">
    <label for="name">Eesnimi:</label>
    <input type="text" id="name" name="name" required />
    <label for="family-name">Perekonnanimi:</label>
    <input type="text" id="family-name" name="family-name" required />
    <label for="username">Email:</label>
    <input type="text" id="email" name="email" required />
    <label for="username">Vali kasutajanimi:</label>
    <input type="text" id="username" name="username" required />
    <label for="password">Vali parool:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Registreeru</button>
  </form>
</div>
