.logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.registration-container {
  text-decoration-line: underline;
  display: flex;
  gap: 15px;
}

.welcome-container
{
  background-color: #F4D5A4;
  padding: 1px;
}

.welcome-text {
  color: #090688;
  font-weight: 600;
  margin: 15px;
}
