.header-container {
  display: flex;
  justify-content: center;
}

.header-container h2 {
  color: #F4633A;
  margin-top:50px;
}

.ref-container p{
  display: flex;
  justify-content: center;
  color: #090688;
  font-size: 18px;
}

.text-container h3{
  color: #F4633A;
  font-size: 18px;
  margin-top: 15px;
}

.text-container{
  max-width: 800px;
  margin: 20px auto 80px;
  color: #090688;
  font-weight: bold;
}

.text-container p {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
}

.booking-form-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.section-title {
  display: block;
  width: 100%;
  font-size: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-info p {
  padding: 5px;
}

.booking-card {
  padding: 10px;
  margin-bottom: 16px;
}

.booking-card p {
  margin: 4px 0;
}

.total-price {
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}
