<div class="header-container">
<h2>Makse õnnestus!</h2>
</div>

<div class="form-container">
  <table>
    <tr>
      <th>Nimi</th>
      <td>{{ user?.firstName }} {{ user?.lastName }}</td>
    </tr>
    <tr>
      <th>E-mail/kasutajanimi</th>
      <td>{{ user?.email }}</td>
    </tr>
    <tr>
      <th>Broneeringud</th>
      <td>
        @for (booking of bookings; track bookings) {
      <p>{{ booking.roomId }}, {{ booking.startTime | date:'MMM d, y HH:mm' }} - {{ booking.endTime | date:'HH:mm'}}</p>
      }
    </tr>
    <tr>
      <th>Osalejate arv</th>
      <td></td>
    </tr>
  </table>
  <h3>Broneeringuid saad tühistada oma kontol.</h3>
</div>

<div class="text-container">
  <p>Paari minuti jooksul saabub sinu e-mailile ja telefonile PIN, mida saad broneeritud
    ajal kasutada ukse avamiseks.</p>
  <p>Head külastust!
  </p>

  <button class="light-button">Tagasi esilehele</button>
</div>

