<footer>
  <div class="footer-content">
    <div class="logo-section">
      <a href="https://www.rara.ee/">
        <img src="/RaRa_logo_EST-01.png" alt="rara-logo" class="logo">
      </a>
    </div>

    <div class="hours-section">
      <p class="section-title">AVATUD</p>
      <div class="hours">
        <div>
          <p>E–R &nbsp; 10—20</p>
          <p>L &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12—19</p>
          <p>P &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Suletud</p>
        </div>

      </div>
    </div>

    <div class="contact-section">
      <p class="section-title">KONTAKT</p>
      <p>Eesti Rahvusraamatukogu</p>
      <p>Narva mnt 11, 15015 Tallinn</p>
      <p><a href="mailto:info@rara.ee">info&#64;rara.ee</a></p>
      <p>+372 630 7100</p>
    </div>
  </div>

  <hr>

  <div class="bottom-bar">
    <div class="links">
      <a href="https://www.rara.ee/privaatsus/">Privaatsustingimused</a>
      <a href="https://www.rara.ee/kupsised/">Küpsised</a>
      <a href="https://www.rara.ee/ligipaasetavus/">Ligipääsetavus</a>
    </div>
  </div>

  <small class="version-info">Version: {{ version }} (built {{ buildTime }})</small>

</footer>
