<header>
  <p><a href="http://localhost:4200/">
  <img src="/BruNO%20logo2.png" alt="logo" class="logo">
  </a></p>
  <nav></nav>
  <div class="right-section">
    <div class="registration-container">
      <a [routerLink]="['/login-page']" routerLinkActive="active" [ariaCurrentWhenActive]="'page'">
      Logi sisse</a>
      <a [routerLink]="['/registration-page']" routerLinkActive="active" [ariaCurrentWhenActive]="'page'">Registreeru</a>
    </div>
    <a href="https://www.rara.ee/">
      <img src="/RaRa_sõnamärk-01.png" alt="rara-logo" class="logo">
    </a>
  </div>
</header>
<div class="welcome-container">
  <h1 class="welcome-text">{{welcomeMessage()}}</h1>
</div>
