.logo {
  height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  gap: 15px;
}

.container a{
  color: black;
}

.container a:hover{
  color: #070563;
}

.logout-btn {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
}

.logout-btn:hover {
  color: #070563;
}


.welcome-container
{
  background-color: #F4D5A4;
  padding: 1px;
  padding-left: 49px;

}

.welcome-text {
  color: #090688;
  font-weight: 600;
}
