<header>
  <p><a routerLink="/">
  <img src="/BruNO%20logo2.png" alt="logo" class="logo">
  </a></p>

  <nav>
    <div class="right-section">
      <div class="container">
    @if(!authService.isLoggedIn()){
        <a routerLink="/login">Logi sisse</a>
      <a routerLink="/registration">Registreeru</a>
      }
      @if(authService.isLoggedIn()){
        <a>Tere, {{ user?.firstName }}!</a>
        <a routerLink="/dashboard">Minu konto</a>
        <button (click)="logout()" class="logout-btn">Logi välja</button>
      }
      </div>
    <a href="https://www.rara.ee/">
      <img src="/RaRalogo.png" alt="rara-logo" class="logo">
    </a>
    </div>
  </nav>

</header>
<div class="welcome-container">
  <h1 class="welcome-text">{{text()}}</h1>
</div>
