/* The infobar with icons */
.info-container {
  background-color: #F4D5A4;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infobar-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

h2, h3, p {
  color: #090688;
}

.infobar-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  padding: 16px;
}

.infobar-icons img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.infobar-icons img {
  width: 100px;
  height: auto;
  flex: 1 1 100px;
  max-width: 120px;
}

/* The Edu and event centre */

.info-item .text {
  margin: 20px;
  padding: 30px;
}

.centres-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 0;
  width: 100%;
  margin: auto;
}

.info-item {
  display: flex;
  align-items: center;
  position: relative;
}

.info-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.info-item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.info-item:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

.info-item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.info-item button {
  margin-top: 10px;
  padding: 8px 16px;
  border-width: 1px;
  color: #090688;
  opacity: 100%;
  cursor: pointer;
  border-radius: 60px;
  border-color: #090688;
}

.info-item button:hover {
  background-color: #090688;
  color: white;
}

/* Responsiveness */
@media (max-width: 768px) {

  .infobar-icons {
    gap: 8px;
  }

  .infobar-icons img {
    width: 80px;
    flex: 1 1 80px;
  }
}

@media (max-width: 480px) {
  .infobar-icons img {
    width: 60px;
    flex: 1 1 60px;
  }
}

