<div class="login-form-container">
  <form class="login-form" action="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="email">Sisesta email:</label>
    <input type="text" id="email" formControlName="email" required />

    <label for="password">Sisesta parool:</label>
    <input type="password" id="password" formControlName="password" required />

    <button type="submit">Logi sisse</button>

    @if (error){
    <div class="error">{{ error }}</div>
    }
  </form>
</div>
