<div class="infobar-image-container">
  <img src="/raamaturiiul.jpg" alt="library" class="infobar-image">
</div>

<div class="info-container">
  <div class="infobar-text">
    <h2>Igas ruumis on kasutamiseks</h2>
  </div>
  <div class="infobar-icons">
    <img src="/wifiicon.png" alt="icon"/>
    <img src="/audioicon.png" alt="icon"/>
    <img src="/outleticon.png" alt="icon"/>
    <img src="/whiteboardicon.png" alt="icon"/>
  </div>
</div>

<div class="centres-info-container">
  <div class="info-item"><img src="/edu_examp.png" alt="Haridusprogrammid"></div>
  <div class="info-item"><div class="text"><h3>Haridusprogrammid</h3>
    <p>Hariduskeskuses on võimalik broneerida haridusprogramme rühmadele.</p>
    <button>Tee päring</button>
  </div>
  </div>
  <div class="info-item">
    <div class="text"><h3>Sündmused</h3>
    <p>
      Korralda oma suurüritus või sündmus RaRa-s! Lisaks konverentsisaalile on võimalik proovida hulgaliselt erinevaid
      ruume suuremate ja väiksemate sündmuste korraldamiseks.
      Vaata ruume, mida on võimalik päringuga broneerida:
    </p>
    <button>Vaata ruume</button>
    <p>Või tee päring:</p>
    <button>Tee päring</button>
  </div>
  </div>
  <div class="info-item"><img src="/conference_example.png" alt="Sündmused"></div>

</div>
