<div class="calendar-container">
  <div class="calendar-header">
    <button (click)="goToPreviousDay()" [disabled]="isCurrentDateToday()">
      &lt;
    </button>
    <h2>{{ formatDate(currentDate) | titlecase }}</h2>
    <button (click)="goToNextDay()" [disabled]="isMaxDate()">
      &gt;
    </button>
  </div>

  <div class="floor-buttons">
    @for (floor of [2, 3, 4, 5]; track floor) {
      <button (click)="setFloor(floor)"
              [class.active]="selectedFloor === floor">
        {{ floor }}. korrus <i class="arrow down"></i>
      </button>
    }
    <a [routerLink]="['query-rooms']" routerLinkActive="active" [ariaCurrentWhenActive]="'page'">
      <button>Vaata päringuga broneeritavaid ruume</button>
    </a>
  </div>

  @for (room of filteredRooms; track room.id) {
    <div class="grid-row">
      <div class="grid-cell room-name">{{ room.roomName }}</div>
      @for (hour of hours; track hour) {
        <div class="grid-cell">
          <button class="grid-cell button time-slot"
                  [ngClass]="{
              'available': getSlotAvailability(room.id, hour) === 'available',
              'booked': getSlotAvailability(room.id, hour) === 'booked',
              'selected': selectedSlot.has(room.id + '--' + dateTimeUtils.createDateTimeString(currentDate, hour))
            }"
                  (click)="selectSlot(room.id, hour)"
                  [disabled]="getSlotAvailability(room.id, hour) === 'booked'"
          >{{ hour }}
          </button>
        </div>
      }
    </div>
  }
  <button class="book-button" (click)="bookRoom()">Kinnita valikud
  </button>
  @if(isVisible){
  <button class="book-button" appBookingButton [bookings]="bookings">Maksma
  </button>}
</div>


<!--@if ("loading") {
  <div class="loading-container">
    <div class="loading">Laen ruume...</div>
  </div>
}
@if ("error") {
  <div class="error-container">
    <div class="error">{{ error }}</div>
    <button (click)="fetchBookableRooms()" class="retry-button">Retry</button>
  </div>
}-->
