.search-container {
  display: flex;
  padding: 40px;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 5px #D0E1F0;
  border-radius: 10px;
}

.search-button {
  background-color: #F4633A;
  color: #090688;
  font-weight: 600;
  justify-content: center;
  width: 680px;
  height:100px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 46px;
}

.search-button .icon {
  margin-left: 8px;
  width: 15px;
  height: auto;
}
