.booking-form-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.section-title {
  display: block;
  width: 100%;
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.user-info p {
  background-color: #f1f1f1;
  padding: 15px;
}

.booking-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
}

.booking-card p {
  margin: 4px 0;
}

.booking-card input {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.delete-button {
  background-color: #F4633A;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.total-price {
    display: block;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
  }

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.booking-info-container {
  color: #090688;
  background-color: #F4D5A4;
  padding: 20px 20px 20px 50px;
}

.booking-request-info-container {
  display: flex;
  color: #F4633A;
  font-weight: bold;
  padding: 10px 10px 10px 50px;
  gap: 10px;
}

.header-row{
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .booking-form-container {
    padding: 15px;
  }

  .booking-card input {
    width: 100%;
  }

  .total-price {
    text-align: left;
  }
}
