<div class="booking-form-container">
  <form class="form" (ngSubmit)="onSubmitPay()">
    <label>Sinu andmed</label>
    <p>
      {{ user?.firstName }} {{ user?.lastName }}<br>
      {{ user?.email }}<br>
      NB! Veendu andmete õigsuses!</p>

    <label> Broneeringud</label>
    @for (booking of bookings; track bookings) {
      <p>{{ booking.roomId }}, {{ booking.startTime | date:'MMM d, y HH:mm' }} - {{ booking.endTime | date:'HH:mm'}}</p>
    }
    <label for="participants">Osalejate arv</label>
    <input id="participants" type="number" placeholder="Sisesta osalejate arv" required>
  </form>
  <div class="button-container">
    <button   type="submit"
              class="book-button"
              [routerLink]="['/confirmation']"
              [queryParams]="{ bookings: bookingsStringified }"
              routerLinkActive="active"
              [ariaCurrentWhenActive]="'page'">Maksma
    </button>
  </div>
</div>

<hr>

<div class="header-row">
  <h2>SOOVID LISADA BRONEERINGU?</h2></div>
<app-main-calendar></app-main-calendar>

<div class="booking-info-container">
  <p>Korraga on võimalik broneerida ruumi <b>1-3 tunniks</b>.</p>
  <p>Ühel kasutajal saab olla korraga <b>10 aktiivset broneeringut</b>.</p>
  <p>Pärast broneeringu alustamist on aega 10 minutit, et broneering lõpule viia.</p>
</div>
<div class="booking-request-info-container">
  <p>Kui soovid teha broneeringut, mis neile kriteeriumitele ei vasta, siis kasuta PÄRINGU vormi.</p>
  <button class="book-button">Päring</button>
</div>
